<h2>This User's Data</h2>
<p>Data for user {{ (user$ | async)?.email }}</p>

<p *ngIf="userData$">{{ userData$ | async | json }}</p>

<!-- <h2>Cloud Firestore Data Example</h2>
  <ul>
    <li *ngFor="let item of item$ | async">
      {{ item.text }}
      <br />
      JSON data: {{ item | json }}
    </li>
  </ul> -->

<hr />

<p>Under Construction</p>
<img src="assets/under-construction90s.gif" alt="Under Construction image" />

<!-- <form [formGroup]="dataForm" (ngSubmit)="updateUserData()">
  <label for="movie">Enter a Favorite Movie</label>
  <br />
  <input type="text" id="movie" formControlName="movie" required />
  <br />
  <button
    type="submit"
    (ngSubmit)="updateUserData()"
    [disabled]="dataForm.invalid"
  >
    Submit
  </button>
</form> -->
