<ng-container *ngIf="!currentAuth?.currentUser">
  <button (click)="whichForm = 'login'">Log In</button>
  <button (click)="whichForm = 'signup'">Sign Up</button>
</ng-container>
<ng-container *ngIf="currentAuth?.currentUser">
  <div class="current-auth">
    <p>Current User: {{ currentAuth?.currentUser?.email }} &nbsp;&nbsp;</p>
    <button (click)="logOut()">Log Out</button>
    <button (click)="toggleUserDetails()">
      {{ showUserDetails ? "Hide" : "Show" }} User Details
    </button>
  </div>
</ng-container>
<ng-container *ngIf="showUserDetails">
  <h1>Current User!</h1>
  <pre>{{ currentAuth | json }}</pre>
</ng-container>

<!-- <div class="container">
  <div *ngIf="whichForm == 'login'" class="form-container">
    <h2>Login Form</h2>
    <form [formGroup]="authForm" (ngSubmit)="onSubmitLogin()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div>Username is required</div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <button type="submit" [disabled]="authForm.invalid">Submit</button>
    </form>
  </div>

  <div *ngIf="whichForm == 'signup'" class="form-container">
    <h2>Sign Up Form</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div>Username is required</div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <button type="submit" [disabled]="signupForm.invalid">Submit</button>
    </form>
  </div>
</div> -->
