nav {
  background-color: #444;
  font-size: 14px;
  color: #666;
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .title {
    color: #999;
    padding: 1rem;
  }
}
