<nav>
  <div class="container nav-container">
    <!-- Main app name or logo -->
    <!-- <div class="title">Movie App</div> -->

    <!-- Normal navigation buttons -->
    <div>
      <!-- <button class="nav-button" (click)="navigateTo('home')">Home</button> -->
      <button class="nav-button" (click)="navigateTo('user-data')">
        Search / Watch List
      </button>
      <button class="nav-button" (click)="navigateTo('reviews')">
        Your Movie Reviews
      </button>
      <button class="nav-button" (click)="navigateTo('recommendations')">
        Recommendations
      </button>
    </div>

    <!-- Auth actions and User details -->
    <app-user></app-user>
  </div>
</nav>
