nav {
  background-color: #444;
  font-size: 14px;
  color: #666;

  .nav-container {
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    :last-child {
      margin-left: auto;
    }

    // Responsive nav height for use with checkNavContainerHeight()
    &.exceeded-height * {
        width: 100%;
    }
  }

  .title {
    color: #ccc;
    font-size: 26px;
    margin-left: 1rem;
  }
}
