<!-- <h1>Authentication</h1> -->

<div class="container">
  <div *ngIf="whichForm == 'login'" class="form-container">
    <h2>Login Form</h2>
    <p>
      Need to make an account?
      <button (click)="whichForm = 'signup'">Sign Up</button>
    </p>
    <form [formGroup]="authForm" (ngSubmit)="onSubmitLogin()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <br />
      <small
        class="error"
        *ngIf="
          authForm.get('username')?.touched && authForm.get('username')?.invalid
        "
      >
        A user name is required
      </small>
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <br />
      <small
        class="error"
        *ngIf="
          authForm.get('password')?.touched && authForm.get('password')?.invalid
        "
      >
        A password is required
      </small>
      <br />
      <button type="submit" [disabled]="authForm.invalid">Log In</button>
    </form>
  </div>

  <div *ngIf="whichForm == 'signup'" class="form-container">
    <h2>Sign Up Form</h2>
    <p>
      Already have an account?
      <button (click)="whichForm = 'login'">Log In</button>
    </p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <br />
      <small
        class="error"
        *ngIf="
          signupForm.get('username')?.touched &&
          signupForm.get('username')?.invalid
        "
      >
        A user name is required
      </small>
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <br />
      <small
        class="error"
        *ngIf="
          signupForm.get('password')?.touched &&
          signupForm.get('password')?.invalid
        "
      >
        A user name is required
      </small>
      <br />
      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </div>
</div>
