<!-- <h1>Authentication</h1> -->

<div class="authentication container">
  <p>Log In to use features like <strong class="text-primary">Watch-List</strong>, and to write <strong class="text-primary">Movie Reviews</strong> and
    <strong class="text-primary">Recommendations</strong>.</p>
  <section class="box" *ngIf="whichForm == 'login'">
    <div class="form-container">
      <div class="row">
        <form [formGroup]="authForm" (ngSubmit)="onSubmitLogin()">
          <h1>Log In</h1>
          <div class="field">
            <label for="email">Email Address:</label>
            <input type="email" id="email" formControlName="email" autocomplete="email" />
            <small class="error" *ngIf="
                authForm.get('email')?.touched && authForm.get('email')?.invalid
              ">
              A user name is required
            </small>
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" autocomplete="current-password" />
            <small class="error" *ngIf="
                authForm.get('password')?.touched &&
                authForm.get('password')?.invalid
              ">
              A password is required
            </small>
          </div>
          <button class="mt-1" type="submit">Log In</button>
        </form>
        <div class="column already">
          <h3>Need to make an account? &nbsp; &nbsp;</h3>
          <button class="mt-1" (click)="whichForm = 'signup'">
            Sign Up Instead
          </button>
        </div>
      </div>
    </div>
    <br />
  </section>

  <section *ngIf="whichForm == 'signup'" class="box">
    <div class="form-container">
      <div class="row">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
          <h1>Sign Up</h1>
          <div class="field">
            <label for="email">Email Address:</label>
            <input type="email" id="email" formControlName="email" autocomplete="email" />
            <small class="error" *ngIf="
                signupForm.get('email')?.touched &&
                signupForm.get('email')?.invalid
              ">
              A user name is required
            </small>
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" autocomplete="current-password" />
            <small class="error" *ngIf="
                signupForm.get('password')?.touched &&
                signupForm.get('password')?.invalid
              ">
              A user name is required
            </small>
          </div>
          <button class="mt-1" type="submit">Sign Up</button>
        </form>
        <div class="column already">
          <h3>Already have an account?</h3>
          <button (click)="whichForm = 'login'">Log In</button>
        </div>
      </div>
    </div>
    <br />
  </section>
</div>