<div class="user-tools">
  <ng-container *ngIf="user$ | async; else nouser">
    <!-- If you want to display the user's email in the nav (make a new "nav-label" class) -->
    <!-- <button class="nav-label">
      Welcome: {{ (user$ | async)?.email }}
    </button> -->
    <button class="nav-button" (click)="logOut()">Log Out</button>
  </ng-container>
  <ng-template #nouser>
    <button class="nav-button" (click)="navigateTo('user-form')">
      Log In / Sign Up
    </button>
  </ng-template>
</div>
