* {
  font-family: "Lato", sans-serif;
}

body {
  background: #333 !important;
  margin: 0;
}

p,
div {
  color: #999;
}

small,
h1,
h2,
h3 {
  color: #ccc;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
  font-weight: unset;
}
h3 {
  margin-bottom: 0;
}
h3.score {
  margin-top: 0;
}
p strong,
small strong,
.text-highlight,
.text-highlight * {
  color: #ccc;
}
p {
  line-height: 150%;
}

.text-primary {
  color: #ebbc6d;
}
.text-white {
  color: #fff;
}

a {
  color: #6fb8ff;
}

.container {
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem;
  background-color: #4f4f4f;
  color: #999;
  border: 1px solid #555;
  transition: all 0.2s;
  display: inline-block;

  &.nav-button {
    padding: 1rem 2rem;
  }
  &.nav-label {
    padding: 1rem 2rem;
    cursor: unset;
    background: none;
    border: none;
  }
}
button:hover:not([disabled]):not(.nav-label) {
  background-color: #777;
  color: #fff;
  border: 1px solid #aaa;
}
button:disabled {
  opacity: 0.25;
  cursor: default;
}
button.delete-set-button {
  color: #999;
  background-color: #3c3c3c;
  border: 1px solid #555;
}



/* Layout Helper Classes */

/* "ml-0-5" is short for "Margin Left: 0.5rem" */
.ml-0-5 {
  margin-left: 0.5rem;
}

/* Poor man's Flex grid */
.row {
  display: flex;
  justify-content: space-between;
}
.row.game-width {
  width: 480px;
}
