<h2>All About Movies!</h2>
<p>
  Search for movies, create a watch-list, write reviews, and contribute
  recommendations! All in one nifty website.
</p>
<p>
  This website is a "passion project" of mine. For a long while I've wanted to
  make a website that is the quintisential CRUD application (Create, Read,
  Update, and Delete) and that manages movies I want to watch. I also wanted a
  place where visitors could search for movies and make reviews for others to
  see. Another motivation was to get better at the Angular Javascript framework
  and try out some other web development technologies like Firebase Firestore
  and Authentication, as well as AngularFire. This was a fun little project. I
  hope you enjoy it!
</p>
<p>
  If you have any questions on how I did something, go ahead and
  <a href="mailto:geekfabulous+moviecollection@gmail.com">contact me</a>.
</p>
