<section>
  <h1>Favorite Movies</h1>
  <ul class="movie-list">
    <li *ngFor="let movie of someMovies">
      {{ movie.Title }}
      ({{ movie.Year }}) -
      {{ movie.imdbID }}
    </li>
  </ul>
</section>

<h2>IMDB Movie Search</h2>
<section class="box">
  <form [formGroup]="movieSearchForm" class="form">
    <div class="field">
      <label for="title">Movie Title</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        placeholder="Type a movie title"
      />
      <small
        class="error"
        *ngIf="
          movieSearchForm.get('title')?.touched &&
          movieSearchForm.get('title')?.invalid
        "
      >
        A Movie Title is required
      </small>
    </div>
    <button class="mb-1 mt-0-5" (click)="onMovieSearch()">Add Movie</button>
  </form>
</section>

<h2>movieSearchResults</h2>

<!-- <div class="movie-box" *ngFor="let movie of movieSearchResults"> -->
<div
  class="movie-box"
  *ngFor="let movie of movieSearchResults"
  [style.background-image]="'url(' + movie.Poster + ')'"
>
  <!-- <h2>{{ movie.Title }}</h2>
  <p>{{ movie.Year }}</p>
  <p>{{ movie.Type }}</p> -->
  <!-- <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" /> -->
</div>

<hr />
<div class="movie-box" *ngFor="let movie of movieSearchResults">
  <div
    class="front"
    [style.background-image]="'url(' + movie.Poster + ')'"
  ></div>
  <div class="side"></div>
</div>
