ul.movie-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 12px;
    width: fit-content;
  }
}

.movie-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.movie-box {
  width: 120px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  position: relative;
  transform: perspective(1000px) rotateY(-20deg);
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.movie-box:before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 200px;
  background: rgba(0, 0, 0, 0.1);
  transform: rotateY(-90deg) translateX(-120px);
  transform-origin: right;
}
