// Sass Variables
$primary-color: #ccc;
$accent-color: #ebbc6d;

.form-box {
  padding: 0 16px;
}

ul.movie-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 12px;
    width: fit-content;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .movie-form {
    display: flex;
    align-items: center;

    .field {
      margin: 0;
    }

    label {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    input {
      margin: 0 14px 0 40px;
      font-size: 16px;
      padding: 4px 12px;
    }

    .error {
      position: absolute;
      //   margin-left: 40px;
      margin: 0.25rem 0 0 40px;
    }
  }

  button {
    background-color: $accent-color;
    color: #fff;
    border-radius: 4px;
  }
}

.movie-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.movie-container {
  display: inline-block;
  padding-right: 26px;
}
.movie-title {
  font-weight: bold;
  color: #ccc;
  margin-bottom: 6px;
  max-width: 160px;
}
.movie-year {
  color: #999;
  margin-bottom: 12px;
  max-width: 160px;
}

$rectangleHeight: 201px;
$rectangleWidth: 140px;
$rectangleDepth: 34px;
$boxHeight: 200px;
$boxWidth: 100px;

.movie-box {
  outline: 1px solid #222;
  position: relative;
  width: $rectangleWidth;
  height: $rectangleHeight;
  transform: perspective(1000px) rotateY(-30deg);
  transform-style: preserve-3d;
  margin-bottom: 20px;
  background-size: contain;
  transition: transform 0.25s ease-out;
  cursor: pointer;
  background-color: #444;

  &:hover {
    transform: perspective(1000px) rotateY(0deg); // Rotate rectangle on hover
  }
}

.movie-box:before {
  content: "";
  position: absolute;
  width: $rectangleDepth;
  height: $rectangleHeight;
  background: #222;
}

.movie-box:before {
  right: 0;
  transform: rotateY(90deg) translateZ($rectangleWidth / 4);
  transform-origin: left;
}

.movie-box .front {
  position: absolute;
  width: $boxWidth;
  height: $boxHeight;
  background-size: 50%; // Make the background image half its original size
  background-position: center;
  background-repeat: no-repeat; // Prevent the background image from repeating
}
