<section>
  <h1 *ngIf="someMovies.length; else noFavorites">Favorite Movies</h1>
  <ng-template #noFavorites>
    <p>You have no movies saved to your Favorites</p>
  </ng-template>
  <!-- <pre>{{ someMovies | json }}</pre> -->
  <ng-container>
    <div class="movie-container" *ngFor="let movie of someMovies">
      <div class="movie-title">{{ movie.Title }}</div>
      <div class="movie-year">{{ movie.Year }}</div>
      <div class="movie-box" [style.background-image]="'url(' + movie.Poster + ')'"></div>
      <button class="movie-button" role="button">Remove</button>
    </div>
  </ng-container>
</section>

<section class="box form-box">
  <div class="search-container">
    <h1>IMDB Movie Search</h1>
    <form [formGroup]="movieSearchForm" class="movie-form">
      <div class="field">
        <label for="title">Movie Title</label>
        <input id="title" type="text" formControlName="title" placeholder="Type a movie title" />
        <small class="error" *ngIf="
            movieSearchForm.get('title')?.touched &&
            movieSearchForm.get('title')?.invalid
          ">
          A Movie Title is required
        </small>
      </div>
      <button class="search-button" (click)="onMovieSearch()">
        Search
      </button>
    </form>
    <!-- <p class="message" [@fadeInOut] *ngIf="message">{{ message }}</p> -->
    <p class="message">{{ message }}</p>
  </div>
</section>

<section class="box" *ngIf="mode==='results'">
  <h2 *ngIf="movieSearchResults.length">Search Results</h2>

  <ng-container>
    <div class="movie-container" *ngFor="let movie of movieSearchResults">
      <div class="movie-title">{{ movie.Title }}</div>
      <div class="movie-year">{{ movie.Year }}</div>
      <div class="movie-box" [style.background-image]="'url(' + movie.Poster + ')'"></div>
      <button class="movie-button" (click)="onMovieDetails(movie)" role="button">Movie Details</button>
      <button class="movie-button" (click)="onAddMovie(movie)" role="button">Add Movie</button>
    </div>
  </ng-container>
</section>

<section class="box" *ngIf="mode==='details'">
  Movie Details!</section>