button {
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem;
  transition: all 0.2s;
  display: inline-block;

  &.nav-button {
    background-color: #4f4f4f;
    color: #ccc;
    border: 1px solid #555;
    padding: 1rem 2rem;

    &:hover {
      color: #eee;
      background-color: #777;
    }
  }
  // nav-label is when you want to display something like
  // user's email address up in the nav
  &.nav-label {
    padding: 1rem 2rem;
    cursor: unset;
    background: none;
    border: none;
  }
}

button:not(.nav-button),
button.movie-button,
button.search-button {
  transition: opacity 0.5s ease-in-out;
  border: none;
  background: linear-gradient(
    120deg,
    darkmagenta,
    $secondary-color,
    $accent-color
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  color: #fff;
  border-radius: 4px;
  transition: all 0.5s;

  &:hover {
    border: none;
    background-position: 0 0;
  }
}

button.movie-button {
  opacity: 0; // Initially hidden, but shown on parent's hover
  position: absolute;
  font-size: 12px;
  padding: 6px 12px;
  left: 0;
  bottom: 0;

  &.movie-details {
    bottom: 32px;
  }
}

button.modal-button {
  color: #fff;
  background-color: $secondary-color;
  border: none;
  z-index: 5;

  &:not(.top-right) {
    bottom: 0;
    left: 4px;
  }

  &:hover {
    background-color: $accent-color;
  }

  &:last-of-type {
    margin-left: 24px;
  }

  &.top-right {
    position: absolute;
    top: 22px;
    right: 22px;
  }
}
